
body, html {
    background-color: grey;
    margin: 2px;
}




#menu {

    
    margin-left: 50px;
    margin-top: 50px;
    display: none;
}


#menu span {

  
    height: 5px;
    width: 35px;
    background-color: red;
    display: block;
    margin: 3px;
    cursor: pointer;
    
}



        
    .nav {     
        position: relative;
        min-height: 20px;
        display: none;
    }    

    .nav ul {
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        
    }
    

    .nav a {
        
        background-color: lightgrey;
        color: yellow;
        display: block;
        padding: 10px 10px 10px 32px;
        text-align: left;
        text-decoration: none;
    }


.rotate-up {
 
    background-color: black;
    transform: rotate(45deg);
    position: relative;
    top:3.7px;

}


#menu .z{
     display: none;
}


.rotate-down{

    background-color: black;
    transform: rotate(-45deg);
    line-height: 10px;
    position: relative;
    top:-3.7px;

}


@media only screen and (max-width: 600px){
    
    #menu{
        display: inline-block;
    }

    .nav ul{
        display: none;
    }
    .nav {
        display: block;
    }
    .nav1{
        display: none;
    }
}
 
